__pycache__/
*.py[cod]
*.swp
dist/
sdist/
env/
build/
develop-eggs/
eggs/
*.egg-info/
.installed.cfg
*.egg
*.deb
*.dsc
*.build
*.changes
*.orig.*
packaging/*tar.xz
library/debian/
testing/
MANIFEST
.idea
pip-log.txt
pip-delete-this-directory.txt
.DS_Store

